@model HomeViewModel
<br>
<div class="p-5 mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-info">@ViewBag.Title</h1>
        <p class="col-md-8 fs-4">
            Here you can find a vast collection of albums published by some of the best singers in the world. Discover our album catalogue, one of your favourite albums could be just waiting for you!
        </p>
        <a class="btn btn-outline-info btn-lg" asp-controller="Albums" asp-action="Index">
            Go to album catalogue <i class="fa-solid fa-right-to-bracket"></i>
        </a>
    </div>
</div>
<br>
<section>
    <h2>Best rated</h2>
    @foreach(AlbumViewModel album in Model.BestRatingAlbums!)
    {
        <partial name="Albums/_AlbumLine" model="@album" />
    }
    <hr>
</section>
<br>
<br>
<section>
    <h2>Recently added</h2>
    @foreach (AlbumViewModel album in Model.MostRecentAlbums!)
    {
        <partial name="Albums/_AlbumLine" model="@album" />
    }
    <hr>
</section>
<br>