<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Page1</li>
                <li>Page2</li>
                <li>Page3</li>
                <li>Page4</li>
                <li>Page5</li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <p>Contact</p>
    </footer>
</body>

</html>
