@page
<h1>Privacy disclaimer</h1>
<p>AuthorPlace respects your privacy and undertakes to process your data only for the purposes for which you have given your explicit consent.</p>
<p>As the data holder, you can at any time change your consent, check what data you have provided to us or delete your account by visiting your personal profile page.</p>
<h2 id="ecommerce">E-commerce purposes</h2>
<p>This consent is required for the purposes of providing the service because we need your name and surname and your email for the purposes of selling the online albums published in AuthorPlace. Your data will be used to issue purchase receipts and to allow you to use the video content.</p>
<h2 id="newsletter">Newsletter purpose</h2>
<p>This consent is optional. If you decide to subscribe to the newsletter, we will send you an email once a month with news published on AuthorPlace and promotional discounts.</p>