<h1>@ViewBag.Title</h1>
<p>The requested album does not exist</p>
<p><a asp-controller="Albums" asp-action="Index" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">Go back to album catalogue</a></p>