author {
    color: #0dcaf0;
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
}

body, html {
    min-height: 100vh;
}

footer {
    background-color: lightcyan;
    border-top: 1px solid #0dcaf0;
}

h1 {
    font-weight: 200;
    margin: 0.7em 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

hr {
    margin: 0.5em 0;
}

.album h2 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

.album-info {
    margin-bottom: 2em;
}

.album-info aside {
    background-color: lightcyan;
    height: 100%;
    padding: 1em;
}

.album-info .album-image {
    margin-top: 1em;
}

.album-info .price {
    font-size: 1.3rem;
}

.album-info .subscribe-album {
    margin-bottom: 1em;
}

.album-songs .album-duration {
    font-weight: bold;
}

.album-songs .song-duration i, .album-song .album-duration i {
    margin-right: 0.3em;
}

.background-lightcyan {
    background-color: lightcyan;
}

.bold {
    font-weight: bold;
}

.custom-file-label::after {
    content: '\f07c' !important;
    font-family: 'Font Awesome 5 Free';
}

.display-label {
    color: #0dcaf0;
}

.field-validation-error {
    color: red;
}

.form-check-input {
    border-color: #0dcaf0;
}

.form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.form-floating > input {
    border-color: #0dcaf0;
}

.input {
    border-color: #0dcaf0;
}

.jumbotron {
    background-image: url('/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav .nav-link.active {
    color: lightcyan;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.pagination .page-link {
    border-color: #0dcaf0;
    color: #0dcaf0;
}

.pagination .page-item.active .page-link {
    background-color: #0dcaf0;
    border-color: black;
    color: white;
}

.pagination .page-link:hover {
    color: black;
    background-color: lightcyan;
    border-color: black;
}

.paragraph-wrap {
    word-wrap: break-word;
}

.preview-container {
    padding-top: 100%;
    position: relative;
}

.preview-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center center;
}

.price s {
    color: #0dcaf0;
    font-size: 0.8em;
}

.rating {
    color: #0dcaf0;
    white-space: nowrap;
}

.tab-selector .nav-link {
    border-color: #0dcaf0 !important;
    color: #0dcaf0 !important;
    margin-bottom: 0;
}

.tab-selector .nav-item .nav-link.active {
    background-color: #0dcaf0 !important;
    border-color: black !important;
    color: white !important;
    margin-bottom: 0;
}

.tab-selector .nav-link:hover {
    color: black !important;
    background-color: lightcyan !important;
    border-color: black !important;
    margin-bottom: 0;
}

.validation-summary-errors ul {
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
}

.validation-summary-errors li {
    background-color: rgba(255, 0, 0, 0.05);
    border-left: 3px solid red;
    color: darkred;
    margin-bottom: 2px;
    padding: 3px 0 3px 10px;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    display: block;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
