@model SongCreateInputModel
<h1>@ViewBag.Title</h1>
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <label class="display-label" asp-for="Title"></label>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="text" asp-for="Title" class="form-control input" placeholder="Choose a title for your song..." />
        </div>
        <div class="col-md-4 d-grid gap-2">
            <button type="submit" class="btn btn-outline-info btn-block"><i class="fa-solid fa-record-vinyl"></i> Create song!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="col-md-4"></div>
    </div>
</form>
<br>
<partial name="_Validation"></partial>